*{ margin:0;
  padding:0;

}
body{
   background-color:#ecf8e5;
  }
  header {
    background-color:#bcc8b6;
    padding: 10px;
    
    
  }
  
  nav {
    display: flex;
   
    justify-content: space-between;
    

  }
  
  .logo img {
    height: 60px;
  }
  

  .search button {
    padding: 6px 60px;
    background-color:#fff; 
    object-position:center;
    border:#fff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    
  }
  .search button img {
    background-color:#fff;
    background-position: left;


  }

  .container {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    float:right;
    height: 100vh;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25vh 30vh 2vh;
    grid-gap: 5px;
  }
  
  .photo-grid img {
    width: 100%;
    height: auto;
  }

  .about-us {
    float: left;
    width: 600px;
    padding: 20px;
    background-color: #fbd7db;
    margin:60px;
    height:300px;
}
.contact-box {
  float: left;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  background-color: #f2f2f2;
}